language: ruby

env:
  global:
    - RUBY_GC_MALLOC_LIMIT=50000000

matrix:
  allow_failures:
    - rvm: 2.1
  fast_finish: true

rvm:
  - 2.0.0
  - 2.1.5

sudo: false

cache: bundler

before_script:
  - psql -c 'create database rigidoj_test;' -U postgres
  - bundle exec rake db:migrate db:seed_fu

before_install:
  - sudo apt-get update
  - sudo apt-get install postgresql-client-common postgresql-9.4
  - sudo service postgresql start

bundler_args: --without development --deployment --retry=3 --jobs=3

addons:
  postgresql: 9.4
  code_climate:
    repo_token: e756927d490a667f8c9bd8aafc5311598fd29e190b0ca8adde47b9006b5d0842

script: 'bundle exec rspec'

notifications:
  slack:
    rooms:
      - algalon:WMv6lsjFAFOWoKTSevTWsbu4#rigidoj
