<div class="form-group">
  <label for="contest-title">Contest title</label>
  <%= f.text_field :title, class: 'form-control', id: 'contest-title', placeholder: 'Are you ok?' %>
</div>

<div class="form-group">
  <label for="contest-content">Contest description</label>
  <%= f.text_field :description, class: 'form-control', id: 'contest-content' %>
</div>

