<div class="form-group">
  <label for="contest-title">Contest title</label>
  <%= f.text_field :title, class: 'form-control', id: 'contest-title', placeholder: 'Are you ok?' %>
</div>

<%= f.hidden_field :description_raw %>
<%= render partial: 'components/source_editor',
           locals: {
               preview_url: '',
               indent_width: %w(2 4 8),
               tab_label: 'Edit content',
               usage_classname: 'problem-content-create',
               textarea_id: 'problem-content' } %>

<div class="form-group">
  <h2>Problem listing</h2>
</div>
