.row
  .col-md-offset-1.col-md-10
    %h2 Update a contest
.row
  .col-md-offset-1.col-md-10
    = form_for @contest, html: {role: 'form', class: 'form-horizontal'} do |f|
      = render partial: 'form', locals: { f: f }
      = f.button 'Update', class: 'btn btn-warning'
      = button_to 'Cancel', contests_path(params[:id]), class: 'btn btn-default'
