- content_for :title, 'Contest list'

.row
  .col-xs-2.col-xs-offset-10
    = button_to 'New Contest', new_contest_path, class: 'btn btn-primary', |
      html: {type: 'button'}, method: :get
.row
  .col-xs-10
    %ul.list-group.contest-list.incoming-contests
      %h1 Incoming contests
      - @incoming_contests.each do |c|
        %li.list-group-item.contest-item
          = render partial: 'contests/contest', locals: {:@contest => c}

.row
  .col-xs-10
    %ul.list-group.contest-list.delayed-contests
      %h1 Delayed contests
      - @delayed_contests.each do |c|
        %li.list-group-item.contest-item
          = render partial: 'contests/contest', locals: {:@contest => c}

.row
  .col-xs-10
    %ul.list-group.contest-list.finished-contests
      %h1 Finished contests
      - @finished_contests.each do |c|
        %li.list-group-item.contest-item
          = render partial: 'contests/contest', locals: {:@contest => c}

