- content_for :title, 'Contest list'

#contest-index-admin.admin-wrench.btn-group
  %button{type: 'button', class: 'btn btn-default dropdown-toggle',
      data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
    %i.fa.fa-wrench
  %ul.dropdown-menu.pull-right{role: 'menu'}
    %li
      %a{href: new_contest_path}
        New Contest

.row
  .col-xs-offset-1.col-xs-10
    .panel{class: @live_contests.blank? ? 'panel-default' : ' panel-info'}
      .panel-heading
        %h4
          Live contests
      - if @live_contests.blank?
        .panel-body
          No live contests.
      - else
        %ul.list-group.contest-list.live-contests.row-clickable{data: {element: 'li'}}
          - @live_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: {:@contest => c}


- unless @incoming_contests.blank?
  .row
    .col-xs-offset-1.col-xs-10
      .panel.panel-default
        .panel-heading
          %h4
            Incoming contests
        %ul.list-group.contest-list.incoming-contests.row-clickable{data: {element: 'li'}}
          - @incoming_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: {:@contest => c}


- unless @delayed_contests.blank?
  .row
    .col-xs-offset-1.col-xs-10
      .panel.panel-warning
        .panel-heading
          %h4
            Delayed contests
        %ul.list-group.contest-list.delayed-contests.row-clickable{data: {element: 'li'}}
          - @delayed_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: {:@contest => c}

.row
  .col-xs-offset-1.col-xs-10
    .panel.panel-default
      .panel-heading
        %h4
          Finished contests
      - if @finished_contests.blank?
        .panel-body
          No finished contests.
      - else
        %ul.list-group.contest-list.finished-contests.row-clickable{data: {element: 'li'}}
          - @finished_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: {:@contest => c}

