<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= button_to 'New Contest', new_contest_path, class: 'btn btn-primary',
                  html: {type: 'button'}, method: :get %>
  </div>
</div>

<ul>
  <% @contests.each do |c| %>
    <li>
      <div class="col-md-10 col-md-offset-1">
        <h2><%= c.title %></h2>
        <%= raw c.description %>
      </div>
    </li>
  <% end %>
</ul>
