.row
  .col-md-2.col-md-offset-10
    = button_to 'New Contest', new_contest_path, class: 'btn btn-primary', |
      html: {type: 'button'}, method: :get                                 |
%ul
  - @contests.each do |c|
    %li
      .col-md-10.col-md-offset-1
        %h2= c.title
        = raw c.description_cooked
