- content_for :title, @contest.title

- if current_user && current_user.staff?
  #contest-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: edit_contest_path(@contest)}
          Edit contest
.row
  .col-xs-9
    .panel.panel-default
      .panel-heading
        .panel-title
          %h1.contest-title= @contest.title
      .panel-body
        .contest-content
          = raw @contest.description_baked
      %ul.list-group.contest-problem-list
        - @contest.problems.each do |p|
          %li.list-group-item
            = render partial: 'problems/contest_problem', locals: {:@problem => p, removable: false}
  .col-xs-3
    %ul.action-list.contest-actions.sticky.list-unstyled
      %li
        %a{href: contest_ranklist_path(@contest.slug, @contest.id)}
          %i.fa.fa-list
          Ranklist
      %li
        %a{href: new_problem_solution_path(@problem)}
          %i.fa.fa-plus-circle
          Submit
      %li
        %a{href: problem_solutions_path(@problem)}
          %i.fa.fa-history
          Submitted records
