- content_for :title, @contest.title

- if current_user && current_user.staff?
  #contest-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: edit_contest_path(@contest)}
          Edit contest
.row
  .col-xs-12
    .page-header
      %h1.contest-title= @contest.title
.row
  .col-xs-9
    .contest-content
      = raw @contest.description_baked
    .contest-problem-list
      - @contest.problems.each do |p|
        .well
          = render partial: 'problems/problem', locals: {:@problem => p, removable: false}
