<div class="form-group">
  <label for="problem-title">Problem title</label>
  <%= f.text_field :title, class: 'form-control', id: 'problem-title', placeholder: 'Are you ok?' %>
</div>

<div class="form-group">
  <label for="problem-content">Problem content</label>
  <%= f.text_area :raw, class: 'form-control', id: 'problem-content' %>
</div>

