%button.delete-problem{type: 'button', class: 'close', data: {label: 'Close'}}
  %span{aria: {hidden: 'true'}}
    &times;
.problem-info{data: {'problem-id' => @problem.id}}
  %h1
    %span= @problem.id
    = @problem.title
  .content
    %p= @problem.description_blurb

