<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= button_to 'New problem', new_problem_path, class: 'btn btn-primary',
                  html: {type: 'button'}, method: :get %>
  </div>
</div>

<div class="row">
  <%= grid @problems, show_filters: :always, hide_submit_button: true do |g|

    g.blank_slate do
      'There is no problem.'
    end

    g.column name: 'ID', attribute: 'id', auto_reload: true

    g.column name: 'Title', attribute: 'title', auto_reload: true

    g.column name: 'Description', attribute: 'baked', auto_reload: true do |problem|
      sanitize(truncate(Nokogiri::HTML(problem.baked).css('p:first').inner_html, omission: '...', length: 240))
    end

    g.column name: 'Actions' do |problem|
      link_to('Edit', edit_problem_path(problem))
    end
  end -%>
</div>
