<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= button_to 'New problem', new_problem_path, class: 'btn btn-primary',
                  html: {type: 'button'}, method: :get %>
  </div>
</div>

<div class="row">
  <% @problems.each do |p| %>
    <h2><%= p.title %></h2>
    <p><%= raw p.baked %></p>
  <% end %>

  <%= paginate @problems, window: 3, remote: true %>
</div>
