<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= button_to 'New problem', new_problem_path, class: 'btn btn-primary',
                  html: {type: 'button'}, method: :get %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="table-responsive">
      <table id="problem-listings" class="table table-condensed table-hover">
        <thead>
          <th></th>
          <th>ID</th>
          <th>Title</th>
          <th>Submitted</th>
          <th>AC%</th>
        </thead>
        <tbody>
          <% @problems.each do |p| %>
            <tr class="row-clickable">
              <td></td>
              <td><%= link_to p.id, problem_path(p) %></td>
              <td><%= link_to p.title, problem_path(p) %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @problems, window: 3, remote: true %>
    </div>
</div>

</div>
