<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= button_to 'New problem', new_problem_path, class: 'btn btn-primary',
                  html: {type: 'button'}, method: :get %>
  </div>
</div>
<%= grid @problems, show_filters: :always, hide_submit_button: true do |g|

  g.blank_slate do
    'There is no problem.'
  end

  g.column name: 'ID', attribute: 'id', auto_reload: true

  g.column name: 'Title', attribute: 'title', auto_reload: true

  g.column do |problem|
    problem.baked
  end

  g.column do |problem|
    link_to('Edit', edit_problem_path(problem))
  end
end -%>
