- content_for :title, 'Group list'

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4
          Groups
      - unless @groups.blank?
        .table-responsive
          %table#problem-listings.table.table-bordered.table-hover
            %thead
              %th Name
              %th Users
            %tbody.row-clickable{data: {element: 'tr'}}
              - @groups.each do |g|
                %tr
                  %td= link_to g.name, group_path(g.group_name)
                  %td= g.users.count
        = paginate @groups, window: 3
      - else
        .panel-body
          There is no groups at this time.

