- content_for :title, @group.name

.row
  .col-xs-9
    .panel.panel-default
      .panel-heading
        %h4= @group.name
      .table-responsive
        %table#group-listings.table.table-bordered.table-hover
          %thead
            %th Users
          %tbody
            - @group.users.each do |u|
              %tr
                %td= u.username

  .col-xs-3
    %ul.action-list.group-actions.sticky.list-unstyled
      %li
        %a{href: edit_group_path}
          Edit group
