<div class="form-group">
  <label for="post-title">Post title</label>
  <%= f.text_field :title, class: 'form-control', id: 'post-title', placeholder: 'Are you ok?' %>
</div>

<div class="form-group">
  <label for="post-content">Post content</label>
  <%= f.text_area :raw, class: 'form-control', id: 'post-content' %>
</div>

