<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>Update a post</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= form_for @user, html: {role: 'form'} do |f| %>
      <div class="form-group">
      </div>

      <%= f.button 'Update', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>
