.contest-item {
  cursor: pointer;
}
.contest-item a {
  &, &:link, &:hover, &:visited  &:active {
    color: $lightbg-text-color;
    text-decoration: none;
  }
}
.contest-content {
  position: relative;
  padding: 1em;
}
.contest-content .stats {
  bottom: 1em;
  right: 0;
}
.contest-content .stats div {
  padding-top: 1em;
}
.contest-content .stats .contest-stat-count {
  display: block;
}

.contest-list .contest-item:hover {
  background-color: #f5f5f5;
}
.contest-problems {
  margin-top: 2rem;
}
.time-setting {
  margin-bottom: 1em;
}

.contest-panels .panel {
  margin-bottom: 32px;
}
.figure-example {
  margin-bottom: 20px;
}
.figure-example span {
  padding: 5px 10px;
}

#ranking-table, .figure-example {

  .current-user {
    background-color: #f5f5f5;
  }
  .first-solved.accpeted {
    background-color: #55a532;
    color: white !important;
    font-weight: bold;
  }
  .accpeted {
    background-color: #eaffea;
  }
  .tried {
    background-color: #ffecec;
  }
  .first-solved.delayed.accpeted {
    background-color: #3baae1;
    color: white !important;
    font-weight: bold;
  }
  .delayed.accpeted {
    background-color: #d9edf7;
  }
}
