<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" <%= active_class_if_admin_action('required') %>>
      <%= link_to 'Required', admin_settings_required_path %>
    </li>
    <li role="presentation" <%= active_class_if_admin_action('general') %>>
      <%= link_to 'General', admin_settings_general_path %>
    </li>
  </ul>
</div>
