<div class="row">
  <div class="col-md-8">
    <% @posts.each do |p| %>
      <section class="pined-post">
        <h2><%= p.title %></h2>
        <%= p.raw %>
      </section>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Links</div>
      <div class="panel-body">
        Related links.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Contests</div>
      <div class="panel-body">
        There is no contest.
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
