.form-group
  %label{:for => "post-title"} Post title
  = f.text_field :title, class: 'form-control', id: 'post-title', placeholder: 'Are you ok?'
.form-group
  = f.hidden_field :raw
  = render partial: 'components/source_editor', |
    locals: {                                   |
    preview_url: '',                            |
    indent_width: %w(2 4 8),                    |
    tab_label: 'Edit post',                     |
    usage_classname: 'post-content-create',     |
    textarea_id: 'post-content' }               |
