.form-group
  %label{:for => "post-title"} Post title
  = f.text_field :title, class: 'form-control', id: 'post-title', placeholder: 'Are you ok?'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: '',                             |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit post',                      |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:raw) }               |
