.form-group
  = f.label :title, 'Post title'
  = text_field_tag 'post[title]', @post && @post.title, class: 'form-control', id: 'post-title', placeholder: 'Title'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: preview_text_path,              |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit post',                      |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:raw) }               |
