.row
  .col-xs-offset-1.col-xs-10
    %h2 Update a post
.row
  .col-xs-offset-1.col-xs-10
    = form_for @post, html: {role: 'form'} do |f|
      = render partial: 'form', locals: { f: f }
      = f.button 'Update', class: 'btn btn-warning'
      = button_to 'Cancel', post_path(params[:id]), class: 'btn btn-default'
