<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>Update a post</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= form_for @post, html: {role: 'form'} do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <%= f.button 'Update', class: 'btn btn-warning' %>
      <%= button_to 'Cancel', post_path(params[:id]), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
