.row
  .col-xs-2.col-xs-offset-10
    = button_to 'New Post', new_post_path, class: 'btn btn-primary', |
      html: {type: 'button'}, method: :get
- @posts.each do |p|
  .row
    .col-xs-10.col-xs-offset-1
      %h2= p.title
      = image_tag p.user.avatar.small.url, alt: p.user.name
      = raw p.baked
