<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2><%= @post.title %></h2>
    <p><%= @post.author %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= h @post.raw %>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(params[:id]) %>
