@import "font-awesome";
@import "bootstrap-sprockets";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "highlightjs/solarized_light";
@import "bootstrap-datetimepicker";

html {
  font-size: 62.5%;
}

body {
  position: relative;
  color: $lightbg-text;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, .h1 {
  font-size: 3.6em; /* equal to 36px */
}
h2, .h2 {
  font-size: 3.0em; /* equal to 30px */
}
h3, .h3 {
  font-size: 2.4em; /* equal to 24px */
}
h4, .h4 {
  font-size: 1.8em; /* equal to 18px */
}
h5, .h5 {
  font-size: 1.4em; /* equal to 14px */
}
h6, .h6 {
  font-size: 1.2em; /* equal to 12px */
}

a, a:link, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

.profiler-results {
  top: $navbar-height + 1 !important;
}

#main {
  z-index: 0;
}

.meta {
  text-shadow: 0 1px 0 #fff;
}

html.turbolinks-progress-bar::before {
  background-color: #cc0011 !important;
  height: 2px !important;
}

.twitter-typeahead {
  width: 100%;
}.twitter-typeahead .tt-query,
 .twitter-typeahead .tt-hint {
   margin-bottom: 0;
 }
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width:100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

#problem-lists {
  list-style: none;
  padding: 0;
}

.has-spinner .spinner {
  display: none;
  font-size: 2.6rem;
  text-align: center;
}

.has-spinner.active .spinner {
  display: block;
  cursor: progress;
}

.table-hover:hover a, .list-group:hover a {
  text-decoration: none;
}
.panel-heading h4.pull-left {
  padding-top: 0.2em;
}

.sticky.stuck {
  margin: 0;
  width: 20%;
  position: fixed;
  top: $navbar-padding-horizontal;
}

.ace_editor {
  width: 100% !important;
}
.flyover {
  left: 150%;
  overflow: hidden;
  position: fixed;
  width: 41%;
  opacity: 0.9;
  z-index: 2000;
  transition: left 0.6s ease-out 0s;
}
.flyover-top {
  top: $navbar-height + $line-height-computed / 3;
}
.flyover.in {
  left: 60%;
}
.alert ul {
  padding-left: 2em;
}
