@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.profiler-results {
  top: $navbar-height + 1 !important;
}

#main {
  z-index: 0;
}

.container-fluid, .container {
  max-width: 1110px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
