@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.profiler-results {
  top: $navbar-height + 1 !important;
}

#main {
  z-index: 0;
  padding-top: 20px;
}

.meta {
  text-shadow: 0 1px 0 #fff;
}
