@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.profiler-results {
  top: $navbar-height + 1 !important;
}

#main {
  z-index: 0;
  padding-top: 20px;
}

.meta {
  text-shadow: 0 1px 0 #fff;
}

.row-clickable:hover {
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}

html.turbolinks-progress-bar::before {
  background-color: #cc0011 !important;
  height: 2px !important;
}

.twitter-typeahead {
  width: 100%;
}.twitter-typeahead .tt-query,
 .twitter-typeahead .tt-hint {
   margin-bottom: 0;
 }
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width:100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

#problem-lists {
  list-style: none;
  padding: 0;
}

.has-spinner .spinner {
  display: none;
  font-size: 2.6rem;
  text-align: center;
}

.has-spinner.active .spinner {
  display: block;
  cursor: progress;
}

.table-hover:hover a, .list-group:hover a {
  text-decoration: none;
}
.panel-heading h4.pull-left {
  padding-top: 0.5em;
}