#landing-header {
  background-image: image_url("landing-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
  max-height: 460px;
}
