.navbar {
  border: 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  z-index: 1000;
}

.navbar-links > li > a {
  font-weight: bold;
}

.notification-badge-number {
  color: #aaa;
  font-weight: normal;
  background-color: #f7f7f7;
  background: linear-gradient(#fff, #f0f0f0);
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 2px 10px;
}

.notification-badge-number.active {
  color: #fff;
  background-color: #cc0819;
  background: linear-gradient(#dd0033, #cc0819);
}

.nav.navbar-nav .login-btn {
  padding: 0;
}

#search-box {
  width: 250px;
}

.navbar-header .navbar-brand {
  padding: $line-height-computed / 2 2rem;
}
