.navbar {
  border: 0;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
}

.navbar-links > li > a {
  font-weight: bold;
}

.nav.navbar-nav .login-btn {
  padding: 0;
}

#search-box {
  width: 250px;
}

.navbar-header .navbar-brand {
  padding: $line-height-computed / 2 2rem;
}

#notification-badge {
  padding: 15px 1em;
}

.notification-badge-number {
  color: #aaa;
  font-weight: normal;
  background-color: #f7f7f7;
  background: linear-gradient(#fff, #f0f0f0);
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 2px 10px;
}

.notification-badge-number.active {
  background-color: #d71900;
  background: linear-gradient(#d71900, #C43C35);
  border-color:#af2525;
  color: #fff;
}

#notifications {
  min-width: 420px;
  font-size: 1.5rem;
}

#notifications .notification-heading,
#notifications .notification-footer  {
  margin: .4em 0;
  padding: 0 .8em;
}
#notifications .notification-heading {
  font-size: .7em;
}
#notifications .notification-footer {
  font-size: .5em;
}

#notifications .menu-title {
  color: $red;
}

#notifications .menu-title a {
  color: $grey;
}

.notifications-wrapper {
  overflow: auto;
  font-size: .9em;
  max-height: 40rem;
}

#notifications.dropdown-menu .divider {
  margin: 0;
}

#notifications a.content {
  text-decoration: none;
  background: #fff;
}

#notifications .notification-item.unread {
  background: $lime;
  &:hover {
    background: $lime;
  }
}

#notifications .fa {
  font-size: 1em;
  color: $icon-color;
}

#notifications .notification-item {
  padding: .5em;
  background: transparent;
  font-size: 1em;
  color: $lightbg-text-color;
  &:hover {
    background: $lightgrey;
  }
}

