.source-editor {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.source-editor-textarea {
  position: relative;
  width: 100%;
  height: 400px;
}

.source-editor .meta {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.edit-tabs {
  padding: 0;
  margin-bottom: -1px;
  display: inline-block;
}

.edit-tabs > li {
  display: inline-block;
}

.edit-tab {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: #666;

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: #666;
  }
}
.edit-tab.selected {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #333;
  font-weight: bold;
}

.edit-tabs > li:first-child .selected {
  border-left: 0;
}

.actions {
  margin-right: 10px;
  height: 30px;
  line-height: 41px;
}
