$body-bg: #f0f0f0;

// navbar
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #4183c4;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #4183c4;
$navbar-padding-horizontal: 1rem;
