@import "common/vars";

@import "common/base";
@import "common/navbar";
@import "common/source_editor";

.go-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.row-clickable:hover {
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}

.udcard img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.udcard .udcard-names {
  margin: 10px 0;
}
.udcard .udcard-names span {
  display: block;
}
.udcard .udcard-names .udcard-fullname {
  font-size: 3.5rem;
}
.udcard .udcard-names .udcard-username {
  color: #777;
  font-size: 2.5rem;
  font-weight: 300;
}
.udcard .udcard-details {
  margin: 5px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  list-style: none;
  color: #aaa;
  font-size: 1.5rem;
}
.udcard .udcard-detail .fa {
  margin-right: 3px;
}
.udcard .udcard-stats {
  text-align: center;
}
.udcard .udcard-stat {
  float: left;
  width: 50%;
  font-size: 2.8rem;
}
.udcard .udcard-stat span {
  display: block;
  font-size: 1.2rem;
}
div.divider {
  display: block;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #eee;
}


.timeframe-group {
  display: inline-block;
  padding-right: 2em;
}
.timeframe-group time {
  display: block;
}

.admin-wrench {
  position: fixed;
  top: 5em;
  right: 2em;
  z-index: 1000;
}

.action-list {
  height: 100%;
}
.action-list label {
  padding: 0 1em;
}
.action-list li {
  padding: 0;
  line-height: 2.5em;
  font-size: 1.4rem;
  &:hover {
    background: #f0f0f0;
  }
}
.action-list li .fa {
  width: 1.2em;
  color: #000;
}
.action-list .action-success {
  font-weight: 700;
  .fa {
    color: #06803F;
  }
}
.action-list li a {
  display: block;
  width: 100%;
  height: 100%;
  &:visited, &:hover, &:active {
    color: black;
    text-decoration: none;
  }
}
.action-list li a, .action-list .nav > li > a {
  padding: 0 1em;
}
.action-list .nav > li > a {
  border-left: 2px solid transparent;
  &:hover, &:focus {
    margin-left: 1px;
    border-left: 1px solid #563d7c;
  }
}
.action-list .nav > li.active > a {
  color: #563d7c;
  background: #f0f0f0;
  border-left: 2px solid #563d7c;
  &:hover, &:focus {
    margin-left: 0;
  }
}

.timeframe {
  padding-top: 1em;
  border-top: 1px solid #eee;
}
.judge-limits {
  font-size: 1.2rem;
  color: #666;
}
.problem-actions.sticky {
  top: 90px;
}
