@import "common/vars";

@import "common/base";
@import "common/navbar";
@import "common/source_editor";

@import "common/post";
@import "common/solution";
@import "common/admin";

a.anchor {
  text-decoration: none;
  color: $lightbg-text;
}

.go-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.row-clickable:hover {
  cursor: pointer;

  a {
    text-decoration: none;
  }
}

.udcard img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.udcard .udcard-names {
  margin: 10px 0;
}
.udcard .udcard-names span {
  display: block;
}
.udcard .udcard-names .udcard-fullname {
  font-size: 3.5rem;
}
.udcard .udcard-names .udcard-username {
  color: #777;
  font-size: 2.5rem;
  font-weight: 300;
}
.udcard .udcard-details {
  margin: 5px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  list-style: none;
  color: #aaa;
  font-size: 1.5rem;
}
.udcard .udcard-detail .fa {
  margin-right: 3px;
}
.udcard .udcard-stats {
  text-align: center;
}
.udcard .udcard-stat {
  float: left;
  width: 50%;
  font-size: 2.8rem;
}
.udcard .udcard-stat span {
  display: block;
  font-size: 1.2rem;
}
div.divider {
  display: block;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #eee;
}


.timeframe-group {
  display: inline-block;
  padding-right: 2em;
}
.timeframe-group time {
  display: block;
}

.admin-wrench {
  position: fixed;
  top: 5em;
  right: 2em;
  z-index: 1000;
}

.action-list {
  height: 100%;
}
.action-list ul {
  margin: .5rem 0;
}
.action-list label {
  padding: 0 1em;
}
.action-list li {
  padding: 0;
  line-height: 2.5em;
  font-size: 1.4rem;
  &:hover {
    background: #f0f0f0;
  }
}
.action-list li .fa {
  width: 1.2em;
  color: $icon-color;
}
.action-list .action-success {
  font-weight: 700;
  .fa {
    color: #06803F;
  }
}
.action-list li a {
  display: block;
  width: 100%;
  height: 100%;
  &, &:link, &:hover, &:visited  &:active {
    color: $lightbg-text-color;
    text-decoration: none;
  }
}
.action-list li a, .action-list .nav > li > a {
  padding: 0 1em;
}
.action-list .nav > li > a {
  border-left: 2px solid transparent;
  &:hover, &:focus {
    margin-left: 1px;
    border-left: 1px solid $deeppurple;
  }
}
.action-list .nav > li.active > a {
  color: $deeppurple;
  background: $lightgrey;
  border-left: 2px solid $deeppurple;
  &:hover, &:focus {
    margin-left: 0;
  }
}

.timeframe {
  padding-top: 1em;
  border-top: 1px solid #eee;
}
.judge-limits {
  font-size: 1.2rem;
  color: #666;
}
.problem-actions.sticky {
  top: 90px;
}

.panel {
  font-size: 1.5rem;
}

.panel .panel-heading {
  font-size: 1em;
}

.panel-heading .meta {
  margin-top: .5em;
}

.panel-heading .panel-title {
  font-size: .75em;
}

.panel-body {
  font-size: 1em;
  line-height: 1.5em;
  h1, h2, h3, h4, h5, h6 {
    margin: .2em 0;
    padding: .1em 0;
  }
}
.panel-body h1 {
  font-size: 2.2em;
}
.panel-body h2 {
  font-size: 2em;
  border-bottom: 1px solid #999;
}
.panel-body h3 {
  font-size: 2em;
}
.panel-body h4 {
  font-size: 1.8em;
}
.panel-body h5 {
  font-size: 1.6em;
}
.panel-body h6 {
  font-size: 1.4em;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

#footer {
  margin-top: 3rem;
  color: #999;
  border-top: 1px solid #eee;
  font-size: 1.4rem;
}
#footer .cat-logo {
  position: relative;
  top: -2rem;
  margin: 0 auto;
  width: 4rem;
}
#footer .cat-logo img {
  width: 100%;
  height: 100%;
}
#footer .footer-nav {
  display: none;
}

.setting-panel {
  font-size: 1.4rem;
}
.setting-panel .panel-heading h3 {
  font-size: 1.5rem;
}
.contest-description {
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
}
