/*
 *= require_self
 */

@import "common";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 0;
}

.landing-header {
  padding-top: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 650px;
  max-height: 90%;
  background-image: image_url("landing-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: rgba(255,255,255,1);
}
.landing-header .navbar {
  box-shadow: none;
}
#landing-nav {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#landing-nav li {
  margin-right: 20px;
  font-weight: 100;
}
#landing-nav li a {
  padding: 11px 0 0 0;
  background: transparent;
  color: #fff;
  letter-spacing: 0.2rem;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

#landing-nav li span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 0.6s;
}
#landing-nav li:hover span {
  width: 100%;
}
#landing-nav li .btn {
  transition: all 250ms ease;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.65);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(255,255,255,0.3);
  text-decoration: none;
  text-shadow: none;

  font-weight: 100;
  color: #fff;
  font-size: 1.7rem;
}
#landing-nav li .btn:hover {
  transition: all 250ms ease;
  background: rgba(255,255,255,0.18);
  border: 1px solid rgba(255,255,255,0.65);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(255,255,255,0.3);
  text-decoration: none;
  text-shadow: none;

  color: #fff;
}

.header-content h1 {
  padding-top: 10rem;
  font-weight: 300;
  font-size: 4rem;
  text-shadow: 0 0 8px #fff;
}
.header-content .btn {
  margin-top: 3rem;
  padding: 1.8rem 4rem;
  font-size: 2.4rem;
  transition: all 0.2s ease;
  font-weight: 100;
  border: none;
  background-color: #56a07b;
  color: #fff;
}
.header-content .btn:hover {
  transition: all 0.2s ease;
  transform: scale(1.2);
}

#main {
  margin: 10rem 0;
}

.thumbnail {
  border: none;
  font-weight: 400;
}

.thumbnail h3 {
  text-align: center;
  margin-bottom: 3rem;
}
.thumbnail p {
  color: #777;
}
.thumbnail img {
  width: 60%;
}

#footer {
  border-top: 1px solid #eee;
  color: #999;
  font-size: 1.4rem;
}
#footer .cat-logo {
  position: relative;
  top: -2rem;
  margin: 0 auto;
  width: 4rem;
}
#footer .cat-logo img {
  width: 100%;
  height: 100%;
}
#footer .footer-nav {
  list-style: none;
  float: right;
}
#footer .footer-nav.navbar {
  box-shadow: none;
}
#footer .footer-nav li {
  margin-left: 0.6rem;
  display: inline-block;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #333;
}
#footer li a {
  color: #56a07b;
  text-decoration: none;
}
#footer li a:hover {
  text-shadow: 0 0 1px #42805f;
}
.landing-btn {
  margin-top: 3rem;
  padding: 0.8rem 2.8rem;
  font-size: 2.4rem;
  transition: all 0.2s ease;
  font-weight: 100;
  border: none;
  border: 3px solid #56a07b;
  background: #fff;
  color: #56a07b;
}

.landing-btn:hover {
  transition: all 0.2s ease;
  transform: scale(1.05);
  border: 3px solid #56a07b;
  background: #fff;
  color: #56a07b;
}

.navbar-header .navbar-brand {
  width: 5.2rem;
  height: 5.2rem;
  padding: 1rem;
  border-radius: 90px;
  background-color: white;
}
#navbar-drawer.navbar-collapse {
  box-shadow: none;

  & li {
    text-align: right;
    & a {
      text-align: right;
    }
    margin-top: 1px;
  }

  .in {
    box-shadow: none;

    & li {
      text-align: right;
      & a {
        text-align: right;
      }
    }
  }
}
