<div class="form-group">
  <%= f.hidden_field :source %>
  <%= render partial: 'components/source_editor',
             locals: {
                 preview_url: '',
                 indent_width: %w(2 4 8),
                 tab_label: 'Edit content',
                 usage_classname: 'problem-content-create',
                 textarea_id: 'problem-content' } %>
</div>
