<div class="row">
  <div class="col-md-10">
    <h2>Submit</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <%= form_for @solution, html: {role: 'form'} do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <%= f.button 'Submit', class: 'btn btn-success' %>
      <%= link_to 'Cancel', problems_path %>
    <% end %>
  </div>
</div>
