<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= yield(:title) %></title>
<meta name="description" content="<%= SiteSetting.site_description %>">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<!--[if lt IE 9]>
<%= javascript_include_tag 'html5shiv' %>
<![endif]-->
