!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= SiteSetting.title
    %meta{:content => SiteSetting.site_description, :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1,user-scalable=no", :name => "viewport"}/
    %link{ href: SiteSetting.favicon_url, :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{ href: SiteSetting.apple_touch_icon_url, :rel => "apple-touch-icon", :sizes => "256x256"}/
    /[if lt IE 9]
      <haml:loud> javascript_include_tag &amp;#39;html5shiv&amp;#39; </haml:loud>
    = javascript_include_tag 'landing', 'data-turbolinks-track' => false
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => false
  %body
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    = yield
